#mainLabel {
    -fx-text-fill: white;
    -fx-font-size: 30px;
}

#loadGameStack {
    -fx-background-color:  #3d3d3d;
}

#loadGameLabel {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#loadInstructions {
    -fx-text-fill: white;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-pref-width: 200px;
    -fx-alignment: center;
}

.mainButton {
    -fx-text-fill: blue;
    -fx-min-width: 400px;
    -fx-max-height: 30px;
}



