#mainLabel {
    -fx-text-fill: white;
}

#loadGameStack {
    -fx-background-color:  #3d3d3d;
}

#loadGameLabel {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#loadInstructions {
    -fx-text-fill: white;
}

/* .label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-pref-width: 200px;
    -fx-alignment: center;
} */

.loadTableLabel {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.loadTableHeading {
    -fx-text-fill: white;
    -fx-font: 16px Calibri;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

.mainButton {
    -fx-padding: 20px 0px 0px 0px;
    -fx-pref-width: 250px;
    -fx-text-fill: blue;
    -fx-border-radius: 10%;
}


